.ManageServices_page_con {
  width: 100%;
  display: flex;
  justify-content: center;
  border-inline-start: 2px solid #1a80e5;
  margin: 1rem 0 3rem;
}

.manageServices_page {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.manageServices_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.manageServices_header h1 {
  font-weight: 600;
  font-size: 1.8rem;
}

.manageServices_header button {
  height: 2rem;
  width: calc(6rem + 1vw);
  background-color: transparent;
  border: 2px solid #1a80e5;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
}

.manageServices_header button:hover {
  background-color: #1a80e5;
  color: #fff;
}
.manageServices_header button:hover a {
  color: white;
}
.manageServices_page p {
  color: #4f7396;
  font-weight: 550;
}

.add_category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add_category button {
  height: 2rem;
  width: calc(6rem + 1vw);
  background-color: transparent;
  border: 2px solid #1a80e5;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
}

.add_category button:hover {
  background-color: #1a80e5;
  color: #fff;
}
.add_category button:hover a {
  color: white;
}
.manageServices_page h3 {
  margin-top: 2rem;
  font-weight: 700;
  font-size: larger;
}

.manageServices_table_con {
  margin-top: 1rem;
  border: 1.5px solid #d1dbe8;
  border-radius: 12px;
}

.manageServices_table_con table {
  width: 100%;
  border-collapse: collapse;
}

.manageServices_table_con th {
  text-align: start;
  padding-inline-start: 1rem;
  height: 3rem;
}

.manageServices_table_con td {
  border-top: 1.5px solid #d1dbe8;
  padding-inline-start: 1rem;
  height: 4.5rem;
  color: #4f7396;
  font-weight: 500;
}

.manageServices_table_con td div {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.manageServices_table_con td div p {
  font-weight: 700;
  cursor: pointer;
  transition: color 0.2s ease;
}

.edit_service_btn:hover {
  color: #1a80e5;
}

.delete_service_btn:hover {
  color: #e82933;
}

/* Responsive */
@media (max-width: 876px) {
  .ManageServices_page_con {
    margin-top: 4rem;
  }
}

@media (max-width: 636px) {
  .manageServices_table_con > div {
    overflow-x: auto;
  }

  .manageServices_table_con table {
    width: 550px;
  }

  .manageServices_header button {
    width: 6rem;
  }

  .manageServices_header h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 436px) {
  .manageServices_header h1 {
    font-size: 1.28rem;
  }

  .manageServices_page > p {
    font-size: 0.85rem;
  }

  .manageServices_page > h3 {
    font-size: 1rem;
  }
}

a {
  text-decoration: none !important;
  color: #1a80e5;
}

td .Active {
  text-align: center;
  width: 75%;
  padding: 0.2rem 0;
  border-radius: 8px;
  background: #d6f0ff;
  color: #0a6ebd;
}
td .InActive {
  text-align: center;
  width: 75%;
  padding: 0.2rem 0;
  border-radius: 8px;
  background: #f0f4f8;
  color: #7a8b9a;
}
tr {
  transition: all 0.5s ease;
  cursor: pointer;
}
tr:hover {
  transform: scale(1.0001);
  position: relative;
  z-index: 10;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}
