* {
  margin: 0;
  padding: 0;
}
.complaints_page_con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.complaints_page_title {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.complaints_page_title button {
  width: 8rem;
  height: 2.5rem;
  border: 2px solid #1a80e5;
  border-radius: 8px;
  font-family: "sans";
  font-weight: 700;
  background-color: transparent;
  color: #1a80e5;
  cursor: pointer;
}
.compints_page_title h1 {
  margin-left: 5rem;
}
.complaints_page {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.complaints_page_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.complaints_page_header select {
  width: 20%;
  height: 2.5rem;
  border: none;
  border-radius: 8px;
  background-color: #f0f2f5;
  font-family: "sans";
  font-weight: 400;
  font-size: 1rem;
}
.complaints_page_search_con {
  position: relative;
  width: 70%;
  height: 2.5rem;
}
.complaints_page_search_con input {
  width: 100%;
  height: inherit;
  background-color: #f0f2f5;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-family: "sans";
}
.complaints_page_search_con input::placeholder {
  padding-left: 2.5rem;
}

.complaints_page_search_con img {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
.complaints {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.complaint {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  height: 15rem;
}
.complaint_header {
  margin-top: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.complaint_header p {
  color: #5e7387;
}
.complaint img {
  width: 40%;
}
.complaint_header div {
  display: flex;
  align-items: first baseline;
  gap: 1rem;
  width: 100%;
}
.complaint_header button {
  border: none;
  width: 50%;
  height: 2.5rem;
  background-color: #f0f2f5;
  border-radius: 8px;
  font-family: "sans";
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
}
.complaint_header button:hover {
  transform: translateY(-2px);
  color: #1a80e5;
}
@media (max-width: 676px) {
  .complaints_page_title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .complaints_page_title h1 {
    margin-left: 0rem;
  }
  .complaints_page {
    width: 90%;
  }
  .complaint_header {
    width: unset;
  }
  .complaint_header h3 {
    font-size: 1rem;
  }
  .complaint_header p {
    font-size: 0.8rem;
  }
  .complaint img {
    width: 50%;
  }
  .complaints_page_header select {
    width: 45%;
  }
}

a {
  text-decoration: none !important;
}
