* {
  margin: 0;
  padding: 0;
}

.events_page_con {
  display: flex;
  align-items: center;
  justify-content: center;
}
.events_page {
  margin-top: 2rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}
.page-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.page-header h1 {
  font-size: calc(1.5rem + 1.5vw);
  font-weight: 800;
}
.page-header span {
  background: linear-gradient(90deg, #0a47c2, #3b82f6);
  -webkit-background-clip: text;
  color: transparent;
}
.page-header p {
  color: #4c669a;
  font-size: 18px;
  line-height: 1.7;
}
/* ================= SEARCH ================= */

.search-box {
  position: relative;
  max-width: calc(12rem + 15vw);
}

.search-box span {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #4c669a;
}

.search-box input {
  width: 100%;
  padding: 16px 16px 16px 48px;
  border-radius: 16px;
  border: 1.5px solid #e7ebf3;
  font-size: 16px;
}

.search-box input:focus {
  outline: none;
  border-color: #135bec;
  box-shadow: 0 0 0 4px rgba(19, 91, 236, 0.15);
}

.events-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

/* =====================
   EVENT CARD
===================== */
.event-card {
  width: 20rem;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #f1f5f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.event-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card-image {
  height: 190px;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s;
}

.event-card:hover .card-image {
  transform: scale(1.04);
}

.card-tag {
  position: absolute;
  top: 12px;
  left: 12px;
  background: rgba(255, 255, 255, 0.9);
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
}

.card-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-content h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
  transition: 0.3s;
}

.event-card:hover h3 {
  color: #137fec;
}

.card-content p {
  font-size: 14px;
  color: #64748b;
  margin-bottom: 20px;
}

.event-meta {
  margin-top: auto;
  margin-bottom: 20px;
}

.event-meta div {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #64748b;
  margin-bottom: 8px;
}

.event-meta span {
  color: #137fec;
}

.details-link {
  text-decoration: none;
  font-weight: 800;
  color: #137fec;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.details-link span {
  transition: 0.3s;
}

.details-link:hover span {
  transform: translateX(5px);
}
