* {
  margin: 0;
  padding: 0;
}
.events_page_con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 2rem;
}
.events_page_title {
  width: 100%;
}
.events_page_title h1 {
  margin-left: 5rem;
}
.events_page {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.events_page_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.events_page_header select {
  width: 20%;
  height: 2.5rem;
  border: none;
  border-radius: 8px;
  background-color: #f0f2f5;
  font-family: "sans";
  font-weight: 400;
  font-size: 1rem;
}
.events_page_search_con {
  position: relative;
  width: 70%;
  height: 2.5rem;
}
.events_page_search_con input {
  width: 100%;
  height: inherit;
  background-color: #f0f2f5;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-family: "sans";
}
.events_page_search_con input::placeholder {
  padding-left: 2.5rem;
}

.events_page_search_con img {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.event {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  height: 15rem;
}
.event_header {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.event_header div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.event_details {
  align-items: normal !important;
}
.permit_tile_h {
  font-weight: 400;
}
.event_header p {
  color: #5e7387;
}
.event img {
  width: 40%;
}
.event button {
  border: none;
  width: 50%;
  height: 2.5rem;
  background-color: #f0f2f5;
  border-radius: 8px;
  font-family: "sans";
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
}
.event button:hover {
  transform: translateY(-2px);
  color: #1a80e5;
}
@media (max-width: 676px) {
  .events_page_title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .events_page_title h1 {
    margin-left: 0rem;
  }
  .events_page {
    width: 90%;
  }
  .event {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1.5rem;
    height: unset;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .event img {
    width: 100%;
    aspect-ratio: 1/1;
  }
  .event_header {
    width: 90%;
    margin-bottom: 0.5rem;
  }
  .event_header div {
    align-items: first baseline;
  }
  .event button {
    width: 100%;
  }
  .events_page_header select {
    width: 45%;
  }
}

a {
  text-decoration: none !important;
}
