* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sans";
}

body {
  background: #f5f6f8;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 100000000000000000;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #eaeaea;
}

.navbar-container {
  max-width: 1440px;
  margin: auto;
  padding: 0 24px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.logo-icon {
  width: 40px;
  height: 40px;
  background: rgba(10, 71, 194, 0.1);
  color: #0a47c2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.logo-text h2 {
  font-size: 16px;
  font-weight: 700;
}

.logo-text span {
  font-size: 11px;
  color: #777;
  letter-spacing: 1px;
}

/* Menu */
.navbar-menu {
  list-style: none;
  display: flex;
  gap: 28px;
}

.navbar-menu a {
  text-decoration: none;
  font-size: 14px;
  color: #666;
  font-weight: 500;
  transition: 0.3s;
}

.navbar-menu a:hover,
.navbar-menu a.active {
  color: #0a47c2;
  font-weight: 700;
}

/* Right Actions */
.navbar-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.notification-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
}

.notification-btn .dot {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
}

/* User */
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-text {
  text-align: right;
}

.user-text strong {
  display: block;
  font-size: 13px;
}

.user-text small {
  font-size: 11px;
  color: #777;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.2s;
  cursor: pointer;
}
.user-info img:hover {
  transform: scale(1.1);
}
.navbar-actions .menu {
  display: none;
  cursor: pointer;
  font-size: 1.7rem;
}

/* Navigation */
.nav {
  display: none;
  width: 20rem;
  position: absolute;
  top: 5rem;
  left: -20rem;
  background-color: rgb(255, 255, 255);
  border-bottom-right-radius: 10px;
  transition: left 0.3s ease;
  z-index: 9999999999;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 14px 16px;
  border-radius: 10px;
  color: #111418;
  text-decoration: none;
  margin-bottom: 8px;
}

.nav-item:hover {
  background: #f0f2f4;
}

.nav-item span {
  font-weight: 500;
}

.badge {
  background: #ef4444;
  color: #fff;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 999px;
}

.active_side {
  background: rgba(19, 127, 236, 0.1);
  border-left: 4px solid #137fec;
  color: #137fec;
  font-weight: 700;
}

.fill {
  font-variation-settings: "FILL" 1;
}
.open_nav {
  left: 0;
}
@media (max-width: 890px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
  .navbar ul {
    display: none;
  }
  .material-symbols-outlined {
    display: block;
  }
  .navbar-actions .menu {
    display: block;
  }
}
@media (max-width: 490px) {
  .user-text {
    display: none;
  }
}
.profile-dropdown-wrap {
  display: none;
  position: absolute;
  top: 0rem;
  right: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.3);
}
.dropdown-container {
  position: absolute;
  top: 6.5rem;
  right: 3rem;
  width: 320px;
  background-color: white;
  border-radius: 0.75rem; /* xl */
  padding: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  height: fit-content;
   z-index: 9999999;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.user-text p:first-child {
  text-align: start;
  font-weight: 600;
  font-size: 1rem;
  color: #111418;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-text p:last-child {
  text-align: start;
  font-weight: 400;
  font-size: 0.875rem;
  color: #617589;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.625rem 0.75rem;
  border-radius: 0.5rem; /* lg */
  font-size: 1rem;
  color: #111418;
  text-decoration: none;
  transition: background-color 0.2s;
}

.menu-item span {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 20px;
  color: #617589;
}

.menu-item:hover {
  background-color: rgba(19, 127, 236, 0.1);
}

.divider {
  margin: 0.5rem 0;
  border-top: 1px solid #e5e7eb; /* gray-200 */
}

/* Dark mode */
body.dark {
  background-color: #101922;
}

body.dark .dropdown-container {
  background-color: #101922;
  border: 1px solid #27272a;
  color: white;
}

body.dark .user-text p:first-child {
  color: white;
}

body.dark .user-text p:last-child {
  color: #a1a1aa; /* zinc-400 */
}

body.dark .menu-item span {
  color: #a1a1aa;
}

body.dark .menu-item:hover {
  background-color: rgba(19, 127, 236, 0.2);
}
.open-dropdown{
  display: flex;
}