* {
  margin: 0;
  padding: 0;
}
.news_page_con {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "sans";
}
.news_page {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}
.page-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.page-header h1 {
  font-size: calc(1.5rem + 1.5vw);
  font-weight: 800;
}

.page-header span {
  background: linear-gradient(90deg, #0a47c2, #3b82f6);
  -webkit-background-clip: text;
  color: transparent;
}
.page-header p {
  color: #4c669a;
  font-size: 18px;
  line-height: 1.7;
}

/* ================= SEARCH ================= */

.search-box {
  position: relative;
  max-width: calc(12rem + 15vw);
}

.search-box span {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #4c669a;
}

.search-box input {
  width: 100%;
  padding: 16px 16px 16px 48px;
  border-radius: 16px;
  border: 1.5px solid #e7ebf3;
  font-size: 16px;
}

.search-box input:focus {
  outline: none;
  border-color: #135bec;
  box-shadow: 0 0 0 4px rgba(19, 91, 236, 0.15);
}

.news-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  justify-content: space-between;
}
/* ================= CARD ================= */
.news-card {
  width: 22rem;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #e7ebf3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.news-card:hover {
  transform: translateY(-6px);
  border-color: #135bec;
  box-shadow: 0 14px 28px rgba(19, 91, 236, 0.18);
}

.news-image {
  height: 210px;
  background-size: cover;
  background-position: center;
}

.news-body {
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.news-meta {
  display: flex;
  gap: 10px;
  margin-bottom: 14px;
}

.badge {
  background: rgba(19, 91, 236, 0.1);
  color: #135bec;
  font-size: 12px;
  font-weight: 700;
  padding: 4px 12px;
  border-radius: 999px;
}

.date {
  font-size: 12px;
  color: #4c669a;
}

.news-body h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.news-body p {
  font-size: 14px;
  color: #4c669a;
  line-height: 1.6;
  margin-bottom: 24px;
}

.read-more {
  margin-top: auto;
  text-decoration: none;
  color: #135bec;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}
@media (max-width: 748px) {
  .news-card {
    width: 100%;
  }
}
