* {
  margin: 0;
  padding: 0;
}
.permits_page_con {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f6f8;
}
.permits_page {
  width: 90%;
  margin-bottom: 2rem;
}
.permits-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.permits-header h1 {
  margin-bottom: 1rem;
  font-weight: 800;
  font-size: calc(1.5rem + 1.5vw);
}
.permits-header h1 span {
  background: linear-gradient(90deg, #0a47c2, #3b82f6);
  -webkit-background-clip: text;
  color: transparent;
}
.permits-header p {
  margin-top: 0.2rem;
  color: #4c669a;
  font-size: 18px;
  line-height: 1.7;
  max-width: 600px;
}
.my-permits-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 12px 18px;
  border: 1px solid #ddd;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.85rem;
  color: #111;
  background-color: white;
}
.my-permits-btn span {
  color: rgb(156 163 175);
}
.my-permits-btn:hover {
  --tw-text-opacity: 1;
  color: rgb(10 71 194 / var(--tw-text-opacity, 1)) !important;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
  border-color: rgb(10 71 194 / 0.5);
}
.my-permits-btn:hover span {
  --tw-text-opacity: 1;
  color: rgb(10 71 194 / var(--tw-text-opacity, 1)) !important;
}
.filters {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  background-color: white;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 0.6rem 0;
  align-items: center;
}
.search-box {
  position: relative;
  width: 70%;
  height: 2.7rem;
}
.search-box input {
  height: 2.7rem;
  width: 90%;
  padding-left: 2rem;
  border-radius: 10px;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity, 1));
  border: none;
  font-size: 0.99rem;
}
.search-box span {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
.search-box input:focus-visible {
  outline: none;
  background-color: #ffffff; /* cleaner on focus */
  border-color: #7aa2f7; /* slightly stronger blue */
  box-shadow: 0 0 0 3px rgba(122, 162, 247, 0.25);
}
.select-box {
  position: relative;
  width: 15%;
  height: 2.7rem;
}

.select-box select {
  border: none;
  width: 100%;
  border-radius: 10px;
  height: 2.7rem;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity, 1));
  padding-left: 2rem;
}
.select-box span {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
.select-box select:focus-visible {
  outline: none;
  background-color: #ffffff; /* cleaner on focus */
  border-color: #7aa2f7; /* slightly stronger blue */
  box-shadow: 0 0 0 3px rgba(122, 162, 247, 0.25);
}
.search-btn {
  border: none;
  width: 10%;
  height: 2.7rem;
  border-radius: 10px;
  background-color: rgb(10 71 194 / var(--tw-bg-opacity, 1));
  color: white;
  font-weight: 600;
  font-family: "sans";
  cursor: pointer;
}
.search-btn:hover {
  background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1));
}
.permits-grid {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
/* CARD */
.permit-card {
  width: 21rem;
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  border: 1px solid #eee;
  transition: 0.3s;
}

.permit-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.card-image {
  height: 190px;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
}

.card-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

.card-image h3 {
  position: absolute;
  bottom: 16px;
  left: 16px;
  z-index: 2;
  font-size: 20px;
}

.duration {
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 2;
  background: #fff;
  color: #111;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 8px;
  font-weight: 700;
}

.duration.instant {
  background: #00bfa5;
  color: #fff;
}

.card-body {
  padding: 18px;
}

.card-body p {
  color: #555;
  margin-bottom: 20px;
}

.card-actions {
  display: flex;
  gap: 12px;
}

.primary {
  flex: 1;
  background: #0a47c2;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: #fff;
}
.secondary {
  background: transparent;
  border: 1px solid #ddd;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: 600;
}
@media (max-width: 784px) {
  .permit-card {
    width: 100%;
  }
  .filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .search-box {
    margin-top: 0.5rem;
    width: 90%;
  }
  .select-box {
    width: 90%;
  }
  .search-btn {
    width: 90%;
    margin-bottom: 0.5rem;
  }
  .search-box input {
    font-size: 0.7rem;
  }
  .permits-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .my-permits-btn {
    width: 90%;
  }
}
