@font-face {
  font-family: "sans";
  src: url(/Municipality_Project/fonts/PublicSans-Black.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "sans";
  src: url(/Municipality_Project/fonts/PublicSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "sans";
  src: url(/Municipality_Project/fonts/PublicSans-ExtraBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "sans";
  src: url(/Municipality_Project/fonts/PublicSans-Medium.ttf);
  font-weight: 500;
}
body{
    font-family: "sans";
}

